<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Demo F.A.C.E UI</title>

  <script src="https://unpkg.com/vue@3"></script>

  <style>
    * {
      box-sizing: border-box;
    }
    html {
      font-size:62.5%;
    }
    body {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      max-width: 1024px;
      margin: 2rem auto;
      font-size: 1.6rem;
    }
    section {
      margin: 0 0 2rem;
    }
    .list {
      padding: 0;
      margin: 0;
    }
      .list--item {
        border-bottom: 1px dashed lightblue;
        margin: 0 0 2rem;
      }
    input {
      padding: .5rem;
    }

    /* transition for list */
    /* 1. declare transition */
    .fade-move,
    .fade-enter-active,
    .fade-leave-active {
      transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    }

    /* 2. declare enter from and leave to state */
    .fade-enter-from,
    .fade-leave-to {
      opacity: 0;
      transform: scaleY(0.01) translate(30px, 0);
    }

    /* 3. ensure leaving items are taken out of layout flow so that moving
          animations can be calculated correctly. */
    .fade-leave-active {
      position: absolute;
    }
  </style>

</head>
<body>

  <main id="ID">

    <section>
      <h3>{{ message }}</h3>

      <button @click="updateMessage">Update message</button>
    </section>

    <!-- <section>
      <input type="text" aria-label="message" v-model="message" />
      <hr />

      <small>
        <strong>Message length:</strong> {{ lengthOfMessage }}
      </small>
      <small>
        <strong>Message reversed:</strong> {{ messageReversed }}
      </small>
    </section> -->

    <section>
      <!-- <ul class="list">
        <li v-for="item in items">
          {{ item }}
        </li>
      </ul>
      <br />
      <input type="text" aria-label="message" v-model="newItem" v-on:keypress.enter="addNewItem" placeholder="Add a new item..."/> -->
      <!-- Add item via form submit  -->

    </section>

    <section>
      <!-- <ul class="list"> -->
      <!-- <transition-group tag="ul" name="fade" class="list">
        <li v-for="item in items" :key="item">
          {{ item }}
        </li>
      </transition-group> -->
    </section>

    <section>
      <!-- <ul class="list">
        <li v-for="{title, userId, id, body} in todos" :key="id" class="list--item" >
          <h2>{{ id }}: {{ title }}</h2>
          <p>{{ body }}</p>
        </li>
      </ul>

      <button v-on:click="getTodos">Get Todos</button> -->
    </section>

  </main>

  <script>
    Vue.createApp({

      data () {
        return {
          message: 'Hello F.A.C.E!',
          // items: ['item 1', 'item 2', 'item 3', 'item 4'],
          // newItem: '',
          // todos: null,
        }
      },

      methods: {
        updateMessage () {
          this.message = 'Hello Everyone 👋🏽!'
        },

        // addNewItem () {
        //   this.items.push(this.newItem)
        //   this.newItem = ''
        // },

        // async getTodos () {
        //   const todosFromAPI = fetch('https://jsonplaceholder.typicode.com/posts')
        //     .then((response) => response.json())
        //     .then((json) => json )

        //   this.todos = await todosFromAPI

        // }
      },

      computed: {
        // lengthOfMessage () {
        //   return this.message.length
        // },

        // messageReversed () {
        //   return [...this.message].reverse().join('')
        // }
      },

    }).mount('#ID')

  </script>

</body>
</html>